.mid {
	width: 400px;
	height: 400px;
	text-align: center;
}

.benutzername {
	width: 400px;
	height: 200px;
	text-align: center;
}

.passwort {
	width: 400px;
	height: 75px;
	text-align: center;
}

.anmelden {
	width: 400px;
	height: 125px;
	text-align: center;
}

.jetztregistrieren {
	width: 400px;
	height: 125px;
	text-align: center;	
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  text-align:left;
  
}

.form-label-group > input,
.form-label-group > label {
  height: 40px;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 10px;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 2px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  font-size: 9px;
  color: #777;
}

 .component {
	width: 20%;
	margin: 0 40%;
	height: 440px;
}

.col-md-4 {
	max-width: 100%;
	padding: 0 0 0 0;
}

#herr {
	width: 20%;
	float: right;
}

#frau {
	width: 20%;
	float: right;
}
.frau {
	width: 20%;
	float: left;
	margin: 0 10% 0 10%;
}

.herr {
	width: 20%;
	float: right;
	margin: 0 10% 0 10%;
}
#strasse {
	width: 75%;
	float: left;
}

#hausnummer {
	width: 23%;
	float: right;;
	}

#plz {
	width: 30%;
	float:left;
	margin: 0 2% 0 0;
}

#ort {
	width: 68%;
}

#zur�ck{
	padding: 0 20% 0 0;
}

#send {
	float: right;
	width: 50%
}

.col-md-2 {
	padding: 0 0 0 0;
}

#next {
	width: 100%;
}
.buttonNext {
	float:right;
}

.start {
	text-align: center;
	width: 40%;
	margin: 60px 30% 30px 30%;
}
form.form.horizontal {
	margin: 30px 0 30px 0;
}
.where {
	height: 100px;
	margin: 5% 10%;
	text-align: center;
}
.angaben {
	width: 40%;
	float: left;
	border-style: solid;
	border-radius: 10px;
}

.adresse {
	width: 40%;
	float: right;
	border-style: solid;
	border-radius: 10px;
}

.btn-primary {
	color:black;
	border: 2px solid #22B0FF;
	background-color: white;   
}
.btn-primary:hover {
	background-color: #22B0FF;
	border: 2px solid #22B0FF;
}

.form-control:focus {
	box-shadow: none;
}
#geburtsjahr {
}
#strasse {
	margin: 4% 0 4% 0;
}

#hausnummer {
	margin: 4% 0 4% 0;
}